.option-header {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}

.option-header-number {
  margin: 1rem 0rem 1rem 1rem;
  font-size: inherit;
  font-weight: inherit;
}

.option-header-title {
  margin: 1rem 1rem;
  font-size: inherit;
  font-weight: inherit;
  border: none;
}

.option-header-title:hover {
  background-color: #f4f5f7;
}

.option-header-title:focus-visible {
  background-color: unset;
}

.option-header-title-with-edit {
  position: relative;
}

.option-header-title-with-edit .edit-icon {
  height: 1.7rem;
  position: absolute;
  right: 1.5rem;
  bottom: 0rem;
  margin-bottom: 1.15rem;
  visibility: hidden;
}

.option-header-title-with-edit:hover .edit-icon {
  visibility: visible;
}

.option-header-title-with-edit:focus .edit-icon {
  visibility: hidden;
}
